@import "./normalize.css";

:root {
  --color-primary: rgb(63, 165, 53); 
  --color-accent: #23c13d; 
  --color-grey: #666;
  --color-white: #fff;
}
* {
  font-family: "Inter" sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.3s linear;
}
*, *::after, *::before {
  box-sizing: border-box;
}

/* Typography */

::selection {
  background: var(--color-accent);
  color: var(--color-white);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;
}
html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-track {
  background: transparent;
}
html::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 5rem;
}

section {
  padding: 3rem 9%;
}

body {
  background: var(--color-white);
  
}
input[type='file'] {
   font-size: 1.4rem;
}
/* Heading */
.heading {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
  color: #000000;
}
.heading--primary {
  color: var(--color-accent);
}

.heading--small {
   font-size: 1.5rem;
}

@media screen and (min-width: 768px) {
  .heading {
    font-size: 3rem; 
  }
  
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 2.8rem;
  padding-right: 3rem;
  background: linear-gradient(130deg, var(--color-primary) 93%, transparent 90%);
  color: var(--color-white);
  cursor: pointer;
  font-size: 1.7rem;
}
.btn:hover {
  transform: scale(1.1);
}

.btn__container {
  text-align: center;
}
/* Header section */
.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background: var(--color-white);
  z-index: 10000;
  display: flex;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  align-items: center;
  padding: 2rem 9%;
}
.logo {
  margin-right: auto;
  height: 5rem;
  width: 5rem;
}
.logo img {
  width: 100%;
}
#menu-btn {
  height: 3rem;
  opacity: 0.5;
  display: none;
}
#menu-btn.active {
  opacity: 1;
  box-shadow: 2px 0 3px rgba(0, 0, 0, 0.5);
}

.scroll-indicator {
  position: absolute;
  top: 99%;
  left: 0;
  height: 1rem;
  background: var(--color-primary);
}

.nav__item {
  text-transform: capitalize;
  margin-right: 2rem;
  font-size: 1.7rem;
  color: #000000;
}
.nav__item:hover {
  color: var(--color-primary);
}
@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }
  .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: var(--color-white);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .nav__item {
    font-size: 2rem;
    display: block;
    margin: 2rem;
  }

  .credit {
    flex-flow: column;
    text-align: center;
  }
  .credit .share a {
    margin: 0 1rem;
  }
}

/* Hero section  */

.home {
  margin: 5rem;
}
.hero {
  min-height: 70vh;
  background: url("/static/home/assets/images/m4banner1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 2rem 9%;
  display: flex;
  align-items: center;
}
.no-webp .hero {
  background: url("/static/home/assets/images/m4banner1.png");
   
}
.webp-supported .hero {
  background: url("/static/home/assets/images/m4banner1.webp");
   
}
.hero--small {
  min-height: 30vh;
}
.hero--small .hero__content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero__content {
  width: 40rem;
}
.hero__title{
  font-size: 2.2rem;
  color: var(--color-primary);
  display: block;
}
.hero__description{
  font-size: 3rem;
  color: var(--color-white);
  padding: 1rem 0;
}

@media screen and (min-width: 768px) {
    .hero__description{
       font-size: 4rem;
    }
}
.about .second {
  flex-wrap: wrap-reverse;
}
.sidebyside_element{
  min-height: 70vh;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.sidebyside_element:nth-child(2) {
  flex-wrap: wrap-reverse;
  padding: 4rem 0;
}
.side__image {
  flex: 1 1 42rem;
}
.side__image  img {
  width: 100%;
}
.side__content {
  flex: 1 1 42rem;
}
.side__title{
  font-size: 2.5rem;
  color: var(--color-accent);
}
.side__description{
  font-size: 1.5rem;
  color: #666;
  padding: 1rem 0;
  line-height: 1.5;
}
.side__list{
  padding: 1rem 0;
  list-style-position: inside;
}
.side__list_item{
  font-size: 1.5rem;
  color: #666;
}
@media screen and (min-width: 768px) {
   .side__title{
    font-size: 3.1rem;
   }
   .side__description{
    font-size: 2.2rem;
  }
  .side__list_item{
    font-size: 2.2rem;
}
}
/* Container*/
.container {
  width: 30rem;
}
.container--center{
  margin-left: auto;
  margin-right: auto;
}
.container__text{
  font-size: 1.5rem;
  line-height: 1.2;
}

@media screen  and (min-width: 768px){
    .container {
      width: 50rem;
    }
    .container__text{
      font-size: 2rem;
    }
}
/* Layout  */


.grid{
  display: grid;
}

.grid--autofit-30{
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  
}
.grid--autofit-20 {
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));

}
.grid--gap-1 {
  gap: 1rem;

}
.grid--gap-2 {
  gap: 2rem;

}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
  
}

@media screen and (min-width:1024px){
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
  
}
/* Box */
.box {
  text-align: center;
  padding: 2rem;
  background: #eee;
  border-radius: 0.5rem;
}
.box__icon {
  font-size: 4rem;
  color: var(--color-accent);
}
.box__text {
  font-size: 2rem;
  font-style: normal;
}
.box__number {
  font-size: 1.9rem;
  color: var(--color-primary);
}

/* Service  */

.service  .box:nth-last-child(2) {
  flex-wrap: wrap-reverse;
  padding: 2rem;
}
.service__image {
  height: 10rem;
}
.service__title {
  padding: 1rem 0;
  font-size: 2rem;
  color: #000000;
}
.service__text{
  font-size: 1.5rem;
  color: #666;
  line-height: 2;
}

/* Grille image  */
.image_grid {
  column-width: 3;
  columns: 3 25rem;
  gap: 2rem;

}

.image_grid img:hover{
  transform: scale(1.1)
}
.image_grid img {
  margin-bottom: 2rem;
  width: 100%;
  border-radius: 0.5rem;
}


/*  Contact Form  */
.row {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.contact__container {
  flex: 1 1 42rem;
  width: 35rem;
}
.contact__box {
  background: #eee;
  border-radius: 0.5rem;
  padding: 2rem;
}
.contact__box:first-child {
  margin-bottom: 2rem;
}
.contact__title{
  font-size: 2rem;
  color: #000000;
  padding-bottom: 1rem;
}
.contact__info{
  font-size: 1.5rem;
  color: #666;
  padding-top: 1rem;
}
.contact__info a {
  color: inherit;
}
.contact__info span {
  color: var(--color-primary);
  padding-right: 0.5rem;
}
.contact__frame{
  width: 100%;
  height: 34rem;
}

.row form {
  flex: 1 1 42rem;
  background: #eee;
  padding: 2rem;
  border-radius: 0.5rem;
}

/* Inputs  */
.input-box {
  background: var(--color-white);
  width: 100%;
  margin: 0.7rem 0;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  padding: 1.2rem 1.4rem;
  text-transform: none;
  color: #666;
}

.input-box--small {
   width: 20%;
   display: inline-block;;
   
}
.input-box::placeholder{
  text-transform: capitalize;
}

@media screen and (min-width:1024px) {
  .input-box--small {
    width: 20%;
    display: inline-block;;
    
 }
 .form {
    width: 70rem;
    margin-left: auto;
    margin-right: auto;
 }
  
}

.textarea {
  height: 15rem;
  resize: none;
}
.row form h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #000000;
}


/*  Credit  */

.credit {
  display: flex;
  align-items: center;
  gap: 2rem;
  background: #000000;
  justify-content: space-between;
}
.credit p {
  font-size: 2rem;
  color: var(--color-white);
}
.credit p span {
  color: rgb(28, 85, 207);
}

.credit {
  padding: 2rem 9%;
}
.share__item{
  margin-left: 2rem;
  font-size: 2.5rem;
  color: var(--color-white);
}
.credit .share:hover {
  color: var(--color-primary);
}

@media (max-width: 991px) {


  .header {
    padding: 2rem;
  }

  section {
    padding: 3rem 2rem;
  }
}

/*  Text action Link to Form  */
.text-action {
  display: none;
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem ;
  color: white;

}
.error, .success{
  display: block;
}
.error {
  background: rgb(216, 20, 20);
}
.success {
  background: var(--color-primary);
}

@keyframes rotate {
  from {
      transform: rotate(0deg);
  }
  to { 
      transform: rotate(360deg);
  }
}


@-webkit-keyframes rotate {
  from {
      -webkit-transform: rotate(0deg);
  }
  to { 
      -webkit-transform: rotate(360deg);
  }
}
/* Animation */
.load {
display: none;
width: 30px;
height: 30px;
margin: auto ;
border:solid 3px rgb(63, 165, 53) ;
border-radius: 50%;
border-right-color: transparent;
border-bottom-color: transparent;
 -webkit-transition: all 0.5s ease-in;
  -webkit-animation-name:             rotate; 
  -webkit-animation-duration:         1.0s; 
  -webkit-animation-iteration-count:  infinite;
  -webkit-animation-timing-function: linear;
    
     transition: all 0.5s ease-in;
  animation-name:             rotate; 
  animation-duration:         1.0s; 
  animation-iteration-count:  infinite;
  animation-timing-function: linear; 
}

.history {
  margin-top: 2rem;
}

/*  team card */
.team__card {
  position: relative;
  height: 40rem;
}


.team__card img {
  width:100%;
  height: 100%;
  object-fit: cover;
}
.team__card--text {
  align-items: center;
  background:rgb(101, 218, 91);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.team__card-title {
   width:  20rem;
   padding: 1rem;
  background: var(--color-accent);
  position: absolute;
  z-index:  999;
  bottom: 3rem;
  right: 0;
}
.team-card-title h2, 
.team-card-title h3 {
  font-size: 1.6rem;
  color: white;
}
.card_subtitle {
  font-size: 1.5rem;
  color: #eee;
}

.team__card--text h1 {
  font-size: 3rem;
  color: white;
}
.team__card--text p {
  text-align: center;
  font-size: 1.7rem;
  font-style: italic;
  line-height: 1.5;
}


/*  legal right  */

.legal-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem , 1fr));
  gap: 2rem;

}

.legal-box {
  text-align: center;
  padding: 1rem ;
  background: whitesmoke;
 

}
.legal-box h2 {
  font-size: 2.5rem;
  color: var(--color-accent);
}
.legal-box p {
  font-size: 2rem;
}
.legal-box span {
   color: var(--color-accent);
}

/*  location  */

.location-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem , 1fr));
  gap: 2rem;

}
.location-icon {
  color: var(--color-accent);
  font-size: 2.5rem;
}
.location-box {
  text-align: center;
  padding: 1rem ;
  background: whitesmoke;

}
.location-box h2 {
  font-size: 2.5rem;
  margin-top: 1rem;
}
.location-box a {
  display: block;
  margin-top: .4rem;
  font-size: 1.4rem;
  color: rgb(45, 44, 44);
}



/* SLIDER */
.partners, #work, #services, #about {
  overflow-x: hidden!important;
}
.partners .slider {
  text-align: center;
}
.partners .slider img {
  height: 6rem;
  width: 12rem;
  margin: 3rem 0;

}



@media screen and (min-width: 768px) {
  .slider img  {
    width: 20rem;
    transition: transform 0.3s ; 
    height: 20rem;
  }
  .slider img:hover {
    transform: scale(1.1);
  }
  
}

/* services slider */

.services-slider {
  margin-top: .2rem;
}


.swiper-pagination-bullets {
  height: 2rem;
  width: 2rem;
  background: transparent;
  border-radius: 0;
}
.slide img {
  display: block;
  width: 100%;
}
.swiper-pagination-bullet-active{
  background: var(--color-accent) !important;
}

@media screen and (min-width: 1024px) {
  .slide {
   height: 70vh !important;
  }
  .slide img {
    object-fit: contain !important;
  }

}
/* Icons */

.icon {
  width: 40px;
  height: 40px;
}

.icon--small {
  width: 30px;
  height: 30px;
}

.icon--primary {
  fill: var(--color-accent);
}

.icon--white {
  fill: var(--color-white);
}

.icon-container {
  background: #f3f9fa;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.icon-container--accent {
  background: var(--color-accent);
}
/* Media */

.media {
  display: flex;
  margin-bottom: 4rem;
}

.media__title {
  margin-top: 0;
}

.media__body {
  margin: 0 2rem;
}

.media__image {
  margin-top: 1rem;
}

/* quotes block */

.quote{
  font-size: 2rem;
  font-style: italic;
  line-height: 1.3;
  
}

.quote__text::before{
  content: open-quote;
}
.quote__text::after{
  content: close-quote;
}

.quote__author {
  font-size: 2.5rem;
  font-weight: 500;
  font-style: normal;
}

.quote__organization {
   color: var(--color-primary);
   opacity: .5;
   font-size: 1.5rem;
   font-style: normal;
}

.quote__line {
  position: relative;
  bottom: 10px;
}

@media screen and (min-width: 1024px){
  .quote {
    font-size: 2rem;
    line-height: 1.5;

  }

  .quote__author {
     font-size: 2.4rem;
  }

  .quote__organization{
    font-size: 1.6rem;
  }
}


/*  card */


.card {
  border-radius: 7px;
  box-shadow: 0 0 20px 10px #f3f3f3;
  overflow: hidden;
}

@media screen and (min-width: 1024px){
   .card {
    margin-top: 3rem ;
      height: 45rem;
      width: 100rem;
      margin-left: auto;
      margin-right: auto;
   }
}


/* testimonial */
.testimonial {
  padding: 3rem;
}
.testimonial__image{
  position: relative;
}
.testimonial__image > img{
  width: 100%;
 
}

.testimonial__image > .icon-container {
  position: absolute ;
  top: 2rem; 
  right: -32px;
}


@media screen and (min-width: 768px) {
  .testimonial .quote {
    font-size: 2.2rem;
    text-align: center;
  }

  .testimonial .quote{
    margin-left: 6rem;
  }
}
@media screen and (min-width: 1024px) {
  .testimonial__image > img{
    height: 40rem;
  }
  
}

/* Offer section  */

.offer__heading {
  margin-top: 10px;
  font-size: 2rem;
  font-weight: 100;
}

.offer__heading--sm{
  font-size: 1.7rem;
}

.offer__description {
  font-size: 1.4rem;
  line-height: 1.4;
  
}
.offer__description ,
.offer__heading {
  margin-bottom: 10px;

}
.offer__subtitle {
  font-size: 1.2rem;
  display: block;
  margin-bottom: 5px;
}
.offer__endline {
  margin-top: 10px;
  height: 1px;
  width: 100%;
  background: var(--color-grey);
}

@media screen and (min-width: 768px) {
  .offer__heading {
    font-size: 2.2rem;
    font-weight: 500;
  }
  
  .offer__description {
    font-size: 1.8rem;

  }
  .offer__subtitle {
    font-size: 1.4rem;
  
  }
}
@media screen and (min-width: 912px) {
  .offer__heading {
    /* font-size: 2.5rem; */
    font-weight: 500;
  }
  
  .offer__description {
    font-size: 1.8rem;

  }
  .offer__subtitle {
    font-size: 1.5rem;
  
  }
}
@media screen and (min-width: 1024px){
  .offer_section.card {
   margin-top: 3rem ;
     height: auto;
     overflow-y: none;
    
  }
}

