<!DOCTYPE html>
{% load static %}
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{% static 'home/assets/icons/favicon.ico' %}" />
    <meta name="description" content="M4Concept est une entreprise de droits congolais, qui évolue dans les prestations des Services ...">
    <meta property="og:title" content="M4 Concept">
    <meta property="og:description" content="M4Concept est une entreprise de droits congolais, qui
    évolue dans les prestations des Services">
    <meta property="og:url" content="http:s//">
    <meta property="og:image" content="">
    <link rel="stylesheet" href="{% static 'home/css/style.min.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">

    {% block head %} {% endblock %}

    <title>M4Concept</title>
  </head>
  <body>
    {% block content %} {% endblock %}

    <script src="{% static 'home/js/scripts.min.js' %}"></script>
  </body>
</html>
